html {
    
    height: -webkit-fill-available;
}
* {
    box-sizing: border-box;
}
:root {
    --font-light: rgb(255, 248, 248);
    --head-pink: rgb(239, 63, 193);
    --divBG: rgb(41, 39, 40);
    --positionSVG:  calc(100vw / 2 - 50%); 
}
body {
    margin: 0;
    padding: 0;
    background-color: #4c4c4e;
    height: 100vh;
    min-height: -webkit-fill-available;
  } 


#logo {
    top: 5px;
    left: 5px;
    height:55px;
    width:65px;
    margin: 0;
    padding: 0;
    position: absolute;
    position: fixed;
    z-index: 1;
    object-fit: cover;
    background-repeat: no-repeat;
}
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 0;
  
background: -webkit-linear-gradient(to bottom right, rgba(250, 90, 4, 0.966)  26.48%, rgb(242, 20, 242, 0.5) 73.52%);
background: -moz-linear-gradient(to bottom right, rgba(250, 90, 4, 0.755)  26.48%, rgb(242, 20, 242, 0.5) 73.52%);
background-image: linear-gradient(to bottom right, rgb(250, 90, 4, 0.6)  26.48%, rgb(242, 20, 242, 0.5) 73.52%);

}
.fade-in-text {
    font-family: Arial;
    font-size: 60px;
    text-align: center;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }



.welcome-section h1 {
    font-size: 3.5em;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 0.3em;
    padding-bottom: 20px;
}
.welcome-section h2 {
    font-size: 2.0em;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2em;
    padding-top: 20px;
    
    /*animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }
    @keyframes fadeInAnimation {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }*/
    }

.about {
    width: 60%;
    margin: 75px auto 1px auto;
    padding: 20px 55px 40px 55px;
    scroll-margin-top: 50px;
}
.about h2 {
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
    color: var(--head-pink);
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.1em;
    padding-bottom: 40px;
    padding-top: 50px;
}
.about > p {
    font-size: 1.0em;
    font-family: 'Roboto', sans-serif;
    color: var(--font-light);
    letter-spacing: 0.1em;
    line-height: 1.5;
}

  
 
  .divDecoration {
    background-color: var(--divBG);
    border-bottom: 10px solid transparent; 
    border-image: linear-gradient(to right, 
    rgb(250, 90, 4, .3), rgb(242, 20, 242, .3)
  ); 
    border-image-slice: 1;
    color: var(--font-light);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    letter-spacing: 0.1em;
    box-shadow: 7px 7px 7px 2px rgb(24, 23, 23),
    -10px 8px 15px rgb(24, 23, 23), 10px 8px 15px rgb(24, 23, 23);
  }
  .divDecoration h2,h3 {
    color: var(--head-pink);
  }
.myDiv {
    width: 40%;
    height: auto;
    padding: 5px 10px 40px 20px;
    margin: 30px auto 30px auto;
    flex-direction: row;
    text-align: left;
    background-color: var(--divBG);
    border-image: linear-gradient(to right, 
    rgb(250, 90, 4, .3), rgb(242, 20, 242, .3)
  ); 
    border-bottom: 10px solid transparent; 
    border-image-slice: 1;
    color: var(--font-light);
    
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    letter-spacing: 0.1em;
    box-shadow: 7px 7px 7px 2px rgb(24, 23, 23),
    -10px 8px 15px rgb(24, 23, 23), 10px 8px 15px rgb(24, 23, 23);
}
.myDiv h2 {
    color: var(--head-pink);
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;
}
.myDiv li {
    padding-bottom: 5px;
}

/*
.myDiv > ul > li > a:link,a:visited,a:hover {
    color:greenyellow;
    font-size:
    1.1em;
}
/*/
.skills {
    margin: auto;
    width: 85%;
    padding: 30px 5px;
    display: flex;
    flex-direction: row;
    scroll-margin-top: 50px;
}
#skills h2 {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    color: var(--head-pink);
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
    padding-top: 15px;
}
#skills h3 {
    font-size: 1.1em;
    text-align: center;
    padding-top: 20px;
}
#skills p {
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    color: var(--font-light);
    text-align: left;
    margin-left: 20px;
    
}
#skills ul {
   margin-top: 10px;
   margin-bottom: 10px;
   list-style-type: disc;
   letter-spacing: 0.1em;
}
#skills li {
    color: var(--font-light);
    font-size: 1.0em;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
}
.info {
    width: 60%;
    height: auto;
    margin: 50px auto 1px auto;
    padding: 20px 5px 40px 5px;
   
}
.info h2 {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    color: var(--head-pink);
    text-align: center;
    letter-spacing: 0.1em;
    padding-top: 30px;
    padding-bottom: 30px;
}
.info > p {
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 0.1em;
    margin-left: 20px;
    margin-top: 40px;  
}
.info ul {
   margin-top: 20px auto;
   width: 85%;
   margin: auto;
   list-style-type: disc;
   
}
.info li {
    font-size: 1.0em;
    font-family: 'Roboto', sans-serif;
    color: var(--font-light);
    letter-spacing: 0.1em;
    margin-top: 5px;
    margin-top: 10px;
}
hr {
  width: 75%;
  height: 2.0px;
  color: white;
  background-color: white;

}
hr.line {
    width:50%;
    height: 2px;
    border-radius: 5px;
   /* border: 1px solid rgb(249, 246, 250); */
    background: linear-gradient(to right, 
    rgb(250, 90, 4), rgb(242, 20, 242)
  );
   margin-top: 75px;
   margin-bottom: 75px;
}



.projects {
   scroll-margin-top: 100px;
   
  
}
.projects h2 {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    color: var(--head-pink);
    text-align: center;
    letter-spacing: 0.1em;
    padding-top: 50px;
    padding-bottom: 30px;
   
}

.project-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 60%;
    margin: 150px auto 100px auto; 
    padding: 5px 5px 5px 5px;
    background-color: rgb(26, 26, 27);
}
.project-tile img {
    width: 100%;
    height:100%;
    margin: auto;
}
.project-tile h4 {
    width: 100%;
    padding: 40px 5px 5px 5px;
    font-size: 1.3em;
    color: var(--head-pink);
    text-align: center;
    margin: 5px auto 25px auto;
    letter-spacing: 0.1em;
    font-family:'Roboto', sans-serif;
}

.contact {
    scroll-margin-top: 50px;
}
 /* Style the footer */
footer {
    background-color:  rgb(144, 38, 131);
    padding: 60px 20px 40px 20px;
    text-align: center;
    color: rgb(238, 232, 232);
    bottom:0;
    left: 0;
    right:0;
    width: 100%;
    opacity: 0.9;
    position: relative;
}

footer p {
    font-size: 1.3em;
    font-family:  'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding-bottom: 100px;
}
footer a {
    text-decoration: none;
    color: rgb(238, 232, 232);
}
footer a:hover {
    color: rgb(101, 246, 34);
    text-decoration: none;
}
.fcontent {
    font-size: 1.1em;
    font-family:  'Roboto', sans-serif;
    color: rgb(106, 245, 13);
    font-weight: bold;
    letter-spacing: 0.1em;
    padding-bottom: 25px;
}
.dot {
    height: 3.5px;
    width: 3.5px;
    background-color: rgb(77, 76, 76);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.twitter {
      height: 50px;
      width: 58px;
      margin: 10px;
}
.ph {
      height: 50px;
      width: 50px;
      margin: 10px;
}
.email {
    
      height: 50px;
      width: 50px;
      margin: 10px;
}
.portfolio {
      height: 50px;
      width: 50px;
      margin: 10px;
}
.github {
      height: 50px;
      width: 50px;
      margin: 10px;
}
.codepen {
      height: 50px;
      width: 50px;
      margin: 10px;
}
.fcc {
     height: 43px;
     width: 50px;
     margin: 10px;
}
.arrows {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}
.downArrow1 {
      height: 40px;
      width: 40px;
      position: absolute;
      left: 25%;
      margin-top: 15px;
}
.downArrow2 {
      height: 40px;
      width: 40px;
      right: 25%;
      position: absolute;
      margin-top: 15px;
}
.downArrow3 {
      height: 40px;
      width: 40px;
      right: 50%;
      margin-top: 50px;
      position: absolute;
}


  /* scroll to top css */
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(135, 17, 114); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }


  svg {
     /* a perfectly square <svg> element that will never overflow the viewport */
  width: 90vmin;
  height: 30vmin;
  padding: 0;
  }
  
  
.mySVG {
    padding: 0;
}
/*  carousel styles */
.centerThePic {
    margin: auto;
  }






@media only screen and (max-width: 900px) {
    #myBtn {
        font-size: 15px;
        padding: 10px;
       
        position: fixed; /* Fixed/sticky position */
        bottom: 5px; /* Place the button at the bottom of the page */
        right: 5px; /* Place the button 30px from the right */
    }
 }


@media only screen and (max-width: 740px) {

 #logo {
    top: 0px;
    left: 5px;
    height:45px;
    width:55px;
    padding-right: 10px;
}
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 0;
}
.welcome-section h1 {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 0.2em;
}
.welcome-section h2 {
    font-size:1.5em;
    font-weight: bold;
    letter-spacing: 0.1em;
}



.about {
    width: 85%;
   margin: 20px auto 50px auto;
   padding: 25px 20px 40px 25px;
}
.about > h2 {
    font-size: 2.0em;
    padding: 20px auto;
}
.about > h3 {
    font-size: 1.1em;
    padding-bottom: 20px;
}





 .skills {
    margin: 20px auto;
    padding-top: 40px;
    padding-bottom: 100px;
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
 }
 .myDiv {
    width:80%;
    height: auto;
    min-height: 500px;
    padding: 10px 10px 40px 20px;
    margin: 30px auto 30px auto;
    text-align: left;
 
    background-color: rgb(41, 39, 40);
     border-image: linear-gradient(to right, 
     rgb(250, 90, 4, .3), rgb(242, 20, 242, .3)
   ); 
     border-bottom: 10px solid transparent; 
     border-image-slice: 1;
     color: rgb(242, 245, 247);
     border-radius: 5px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.0em;
     letter-spacing: 0.1em;
     box-shadow: 7px 7px 7px 2px rgb(24, 23, 23),
     -10px 8px 15px rgb(24, 23, 23), 10px 8px 15px rgb(24, 23, 23);
 
 }

.info {
    width: 75%;
    padding: 20px 5px 60px 5px;
    margin: 100px auto;
    height: 
    auto;
    border-radius: 5px;
    box-shadow: 7px 7px 7px 2px rgb(24, 23, 23),
    -10px 8px 15px rgb(24, 23, 23), 10px 8px 15px rgb(24, 23, 23);
    
}
.project-tile {
    margin: 150px auto 150px auto;
    padding: 20px;
    width: 80%;
    margin: 130px auto 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-tile > h4 {
    padding: 4px;
    font-size: 1.0em;
}


/*
@media only screen and (max-width: 450px) {
  
  #nav-bar{
      display: flex;
      flex-direction: column;
      flex-flow:row wrap;
      width: auto;
      height: auto;
      padding: 0;
      top:0;
      right:0;
      position: fixed;
      z-index: 1;
      padding: 0;
}
.nav {
     margin: 0;
     min-width: 50px;
     padding: 4px;
}
.nav-link {
    min-width: 50px;
    font-size: 0.8em;
}}
*/
 /*   end small screen css */

 
