html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
     margin: 0;
     padding: 0;
     background-color: rgb(56, 54, 54);
}
#navbar{
      display: flex;
      flex-direction: row;
      flex-flow:row wrap;
      width: 100%;
      height: auto;
      padding: 0;
      top:0;
      left: 0;
      right:0;
      position: fixed;
      z-index: 1;
}
.nav {
    background-color: rgb(42, 41, 41);
    list-style-type: none;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    border-bottom: rgb(30, 30, 30) 2px solid;
    border-top: rgb(30, 30, 30) 1px solid;
}
.nav-link {
    font-family: 'Barlow', sans-serif;
    float:right;
    font-size: 1.1em;
}
.nav a.nav-link {
    background-color:rgb(42, 41, 41);
    color: rgb(250, 243, 243);
    text-decoration: none;
    letter-spacing: 0.1em;
    padding: 20px;
}
.active, .nav a.nav-link:hover {
    background-color: rgb(233, 227, 227);
    color: rgb(7, 7, 7);
    padding: 20px;
    text-decoration-line: underline;
    text-decoration-color: linear-gradient(to right,
      rgb(227, 86, 25),
      rgb(246, 91, 25), 
      #bf1397, 
      #e739be
      ); 
      text-decoration-style: solid;
      text-decoration-thickness: .1em;
      text-underline-offset: 2.5px;
}
#logo {
    top: 5px;
    left: 5px;
    height:55px;
    width:65px;
    margin: 0;
    padding: 0;
    position: absolute;
    position: fixed;
    z-index: 2;
    object-fit: cover;
    background-repeat: no-repeat;
}
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 10px;

background: -webkit-linear-gradient(to bottom right, rgb(250, 90, 4, 0.6)  26.48%, rgb(242, 20, 242, 0.5) 73.52%);
background: -moz-linear-gradient(to bottom right, rgb(250, 90, 4, 0.6)  26.48%, rgb(242, 20, 242, 0.5) 73.52%);
background-image: linear-gradient(to bottom right, rgb(250, 90, 4, 0.6)  26.48%, rgb(242, 20, 242, 0.5) 73.52%);
}
.testColor {
  background-image: linear-gradient(to bottom right, 
  rgb(250, 90, 4, 0.5) 26.48%, 
  rgb(242, 20, 242, 0.5) 73.52%);
  height: 100px;
  width: 300px;
}
.welcome-section h1 {
    font-size: 3.0em;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 0.3em;
}
.welcome-section h2 {
    font-size: 2.0em;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2em;
}
.about {
    width: 65%;
    margin: 75px auto 60px auto;
    background-color: rgb(42, 41, 41);
    padding: 15px 35px 25px 35px;
    border-radius: 5px;
    box-shadow: 7px 7px 7px 2px rgb(24, 23, 23),
    -10px 8px 15px rgb(24, 23, 23), 10px 8px 15px rgb(24, 23, 23);
}
.about h3 {
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    color: rgb(239, 63, 193);
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.1em;
    padding-bottom: 40px;
    padding-top: 30px;
}
.about > p {
    font-size: 1.0em;
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 0.1em;
}
#myDiv1 {
    width:40%;
    height: 475px;
    padding: 5px 10px 20px 20px;
    margin: 30px auto 30px auto;
    text-align: left;
    background-color: rgb(41, 39, 40);
    border-bottom: 10px solid #EF1261;
    border-image: linear-gradient(to right, 
    rgb(250, 90, 4, .3), rgb(242, 20, 242, .3)
  ); 
    border-image-slice: 1;
    color: rgb(242, 245, 247);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    letter-spacing: 0.1em;
    box-shadow: 7px 7px 7px 2px rgb(24, 23, 23),
    -10px 8px 15px rgb(24, 23, 23), 10px 8px 15px rgb(24, 23, 23);
}
#myDiv2 {
    width: 40%;
    height: 475px;
    padding: 5px 10px 20px 20px;
    margin: 30px auto 30px auto;
    text-align: left;
    background-color: rgb(41, 39, 40);
    border-image: linear-gradient(to right, 
    rgb(250, 90, 4, .3), rgb(242, 20, 242, .3)
  ); 
    border-bottom: 10px solid transparent; 
    border-image-slice: 1;
    color: rgb(242, 245, 247);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    letter-spacing: 0.1em;
    box-shadow: 7px 7px 7px 2px rgb(24, 23, 23),
    -10px 8px 15px rgb(24, 23, 23), 10px 8px 15px rgb(24, 23, 23);
}
#skills {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#skills h2 {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    color: rgb(239, 63, 193);
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
    padding-top: 10px;
}
#skills h3 {
    font-size: 1.1em;
    text-align: center;
    padding-top: 20px;
}
#skills p {
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    color: rgb(236, 231, 231);
    text-align: left;
    margin-left: 20px;
    
}
#skills ul {
   font-size: 0.9em;
   color: white;
   margin-top: 10px;
   margin-bottom: 10px;
   list-style-type: disc;
   letter-spacing: 0.1em;
}
#skills li {
    font-size: 1.0em;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
}
.colortester { background-color: #161516;}

.certifications {
    width: 50%;
    height: 350px;
    margin: 150px auto 50px auto;
    background-color: rgb(41, 39, 40);
    border-bottom: 10px solid transparent;
    border-radius: 5px;
    border-image: linear-gradient(to right, 
    rgb(250, 90, 4, 0.3), rgb(242, 20, 242, 0.3)
  ); 
    border-image-slice: 1;
    box-shadow: 7px 7px 7px 2px rgb(24, 23, 23);
    padding-bottom: 150px;
}
.certifications h2 {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    color: rgb(239, 63, 193);
    text-align: center;
    letter-spacing: 0.1em;
    padding-top: 40px;
}
.certifications > p {
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 0.1em;
    margin-left: 20px;
    margin-top: 40px;  
}
.certifications ul {
   margin-top: 40px;;
   list-style-type: disc;
}
.certifications li {
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 0.1em;
    margin-top: 5px;
    margin-top: 10px;
}
hr {
  width: 75%;
  height: 2.0px;
  color: white;
  background-color: white;

}
hr.line {
    width:50%;
    height: 2px;
    border-radius: 5px;
   /* border: 1px solid rgb(249, 246, 250); */
    background: linear-gradient(to right, 
    rgb(250, 90, 4), rgb(242, 20, 242)
  );
   margin-top: 75px;
   margin-bottom: 75px;
}
.project-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 60%;
    margin: 150px auto 100px auto; 
    padding: 5px 5px 5px 5px;
   background-color: rgb(42, 41, 41);
}
.project-tile img {
    width: 100%;
    height:100%;
    margin: auto;
}
.project-tile h4 {
    width: 100%;
    padding: 40px 5px 5px 5px;
    font-size: 1.3em;
    color: rgb(239, 63, 193);
    text-align: center;
    margin: 5px auto 25px auto;
    letter-spacing: 0.1em;
    font-family:'Roboto', sans-serif;
}
 /* Style the footer */
 footer {
    background-color:  rgb(141, 39, 113);
    padding: 20px;
    text-align: center;
    color: rgb(238, 232, 232);
    bottom:0;
    left: 0;
    width: 100%;
}
footer a {
    text-decoration: none;
    color: rgb(238, 232, 232);
}
footer a:hover {
    color: white;
    text-decoration: none;
}
footer p {
    font-size: 1.3em;
    font-family:  'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.dot {
    height: 3.5px;
    width: 3.5px;
    background-color: rgb(77, 76, 76);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.twitter {
      height: 40px;
      width: 45px;
      margin: 10px;
}
.ph {
      height: 30px;
      width: 30px;
      margin: 10px;
}
.email {
    
      height: 40px;
      width: 40px;
      margin: 10px;
}
.portfolio {
      height: 40px;
      width: 40px;
      margin: 10px;
}
.github {
      height: 40px;
      width: 40px;
      margin: 10px;
}
.codepen {
      height: 40px;
      width: 40px;
      margin: 10px;
}
.fcc {
     height: 33px;
     width: 40px;
     margin: 10px;
}
.arrows {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}
.downArrow1 {
      height: 40px;
      width: 40px;
      position: absolute;
      left: 25%;
      margin-top: 15px;
}
.downArrow2 {
      height: 40px;
      width: 40px;
      right: 25%;
      position: absolute;
      margin-top: 15px;
}
.downArrow3 {
      height: 40px;
      width: 40px;
      right: 48%;
      margin-top: 50px auto 10px auto;
      position: absolute;
     
}



/*----------  small screen css  -------------------------------------- */
@media only screen and (max-width: 600px) {
 
body {
   margin: auto;
   display: flex;
   flex-direction: column;
}
  #logo {
    top: 3px;
    left: 5px;
    height:45px;
    width:55px;
    padding-right: 10px;
}
 /* .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    margin-top:25px;
}*/
.welcome-section h1 {
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: 0.2em;
}
.welcome-section h2 {
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.about {
    width: 85%;
    margin: 20px auto 40px auto;
}
.about > h3 {
    font-size: 1.1em;
    padding-bottom: 20px;
   
}
#nav-bar{
      display: flex;
      flex-direction: row;
      flex-flow:row wrap;
      width: 100%;
      height: auto;
      padding: 0;
      top:0;
      left: 10px;
      right:0;
      position: fixed;
      z-index: 1;
      padding: 0;
}
.nav {
     display: flex;
     flex-direction: row;
     flex-flow:row wrap;
     list-style-type: none;
     margin: 0;
     width: 100%;
     padding: 5px;
     list-style-type: none;
     display: flex;
     justify-content: flex-end;
}
#nav-bar{
    display: flex;
    flex-direction: column;
    flex-flow:row wrap;
    width: auto;
    height: auto;
    padding: 0;
    top:0;
    right:0;
    left: 15px;
    position: fixed;
    z-index: 1;
    padding: 0;
}
.nav-link {
    
    float:right;
    font-size: 0.8em;
}
.nav a.nav-link {
    background-color:rgb(42, 41, 41);
    color: rgb(250, 243, 243);
    text-decoration: none;
    letter-spacing: 0.1em;
    padding: 15px;
}
.active, .nav a.nav-link:hover {
    background-color: rgb(233, 227, 227);
    color: rgb(7, 7, 7);
    padding: 15px;
    text-decoration-line: underline;
    text-decoration-color: linear-gradient(to right,
      rgb(227, 86, 25),
      rgb(246, 91, 25), 
      #bf1397, 
      #e739be
      ); 
      text-decoration-style: solid;
      text-decoration-thickness: .1em;
      text-underline-offset: 2.5px;
}
 #skills {
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
 }
#myDiv1 {
   width:85%;
   height: 300px;
   padding: 5px 10px 20px 20px;
   margin: 30px auto 30px auto;
   text-align: left;
}
#myDiv2 {
    width: 85%;
    height: 450px;
    padding: 5px 10px 20px 20px;
    text-align: left;
    margin: 30px auto 30px auto;
}
.certifications {
    width: 85%;
    height:350px;
    margin: 50px auto 50px auto;
}
.project-tile {
    margin: 150px auto 150px auto;
    padding: 20px;
    width: 80%;
    margin: 130px auto 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-tile > h4 {
    padding: 4px;
    font-size: 1.0em;
}}


@media only screen and (max-width: 450px) {
  #navbar{
      display: flex;
      flex-direction: row;
      flex-flow:row wrap;
      width: 100%;
      height: auto;
      padding: 0;
      top:0;
      left: 0;
      right:0;
      position: fixed;
      z-index: 1;
}
  #nav-bar{
      display: flex;
      flex-direction: column;
      flex-flow:row wrap;
      width: auto;
      height: auto;
      padding: 0;
      top:0;
      right:0;
      left: 15px;
      position: fixed;
      z-index: 1;
      padding: 0;
}
.nav {
     margin: 0;
     
     padding: 4px;
}
.nav-link {
    
    font-size: 0.8em;
}
.nav a.nav-link {
    background-color:rgb(42, 41, 41);
    color: rgb(250, 243, 243);
    text-decoration: none;
    letter-spacing: 0.1em;
    padding: 14px;
}
.active, .nav a.nav-link:hover {
    background-color: rgb(233, 227, 227);
    color: rgb(7, 7, 7);
    padding: 14px;
    text-decoration-line: underline;
    text-decoration-color: linear-gradient(to right,
      rgb(227, 86, 25),
      rgb(246, 91, 25), 
      #bf1397, 
      #e739be
      ); 
      text-decoration-style: solid;
      text-decoration-thickness: .1em;
      text-underline-offset: 2.5px;
}
#logo {
    top: 3px;
    left: 5px;
}}
 /*   end small screen css */
